exportPattern("^[[:alpha:]]+")
import(reshape2)
import(ggplot2)
import(gridExtra)
import(plyr)
import(RColorBrewer)
importFrom("stats", "sd")
importFrom("grid", "grid.draw")
importFrom("grid", "grid.newpage")
importFrom("grid", "viewport")
importFrom("grid", "upViewport")
importFrom("grid", "grid.text")
importFrom("grid", "unit.pmax")
importFrom("grid", "pushViewport")
